<article
    class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} u-shadow">
    {{#if featured}}
        <img class="post-image lazyload u-object-fit"
            data-src="{{img_url feature_image}}"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-sizes="auto" alt="{{title}}">
    {{/if}}
    {{> post-media same_height=true ratio="rectangle"}}
    <a class="post-wrapper" href="{{url}}">
        <div>
            {{> post-header tag="h2" hide_link=true}}
            {{#if excerpt}}
                <div class="post-excerpt">
                    {{excerpt words="12"}}
                </div>
            {{/if}}
        </div>
        {{> post-footer reading_time=reading_time}}
    </a>
</article>